<div>
    <label><b>Name</b></label>
    <input class="form-control" name="input-name"><br>
    <label><b>Category</b></label>
    <input class="form-control" name="input-category"><br>
    <label><b>Price</b></label>
    <input class="form-control" name="input-price"><br>
    <div class="row align-items-end">
        <div class="col-md-4 btn-group">
            <button class="btn btn-warning" style="border: 1px solid black">Reset</button>
            <button class="btn" style="border: 1px solid black">Save</button>
        </div>
    </div>
</div>
