<div class="row">
    <div class="col-md-6">
        <b>name:</b>
        <input class="form-control">
        <button class="btn btn-light" style="border: 1px solid black">Filter</button>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col md-2">
        <div class="btn-group">
            <button class="btn" style="border: 1px solid black;" (click)="nextPage(pageChoice.PREVIOUS)">Prethodna</button>
            <button class="btn" style="border: 1px solid black;" (click)="nextPage(pageChoice.NEXT)">Sledeca</button>
        </div>
    </div>
</div>
