<div class="col-md-12">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th *ngIf="loggedIn" scope="col">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemList; let i = index">
                <td>{{item.name}}</td>
                <td>{{item.category.cname}}</td>
                <td>{{item.price}}</td>
                <td *ngIf="loggedIn">
                    <div class="btn-group">
                        <button class="btn btn-danger" style="border: 1px solid black" (click)="deleteItem(item.id)">Delete</button>
                        <button class="btn" style="border: 1px solid black" (click)="sendItemToUpdateForm(item)">Update</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
